
<%= form_for Home.new, url: submit_path, remote: true do |f| %>
    <div class="col-md-12">
        <%= f.label :Nom %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :Entreprise %></br>
        <%= f.text_field  :entreprise, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :Localisation %></br>
        <%= f.text_field  :localisation, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :Telephone %></br>
        <%= f.text_field  :telephone, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :Email %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

      <%= f.label :Message %></br>
      <%= f.text_area :message, rows: 8, required: true, class: "contact-form-text-area",
                        placeholder: "Envoyez moi un message" %></br>
      <%= f.submit 'Envoyer message', class: 'button-send' %>
    </div>
  <% end %>
  <div class="col-md-12" id="flash-message">
    <%= render 'home/flash' %>
  </div>
