<div class="wrapper context" id="wrapper">
<section class="section s1" data-anchor="home">
   <div class="text">
      <h1><%= t "hello" %> </h1>
      <div class="phone">
         <p>Si vous êtes ici c'est que vous voulez un aperçu de ce que je suis capable de faire. Pour en savoir plus, je vous invite à descendre afin de découvrir mon parcours, mon expérience, mes projets.</p>
      </div>
   </div>
</section>
<section class="section s2" data-anchor="about">
   <div class="text">
      <h2>A Propos </h2>
      <% dob = Date.new(1990,11,27)
         def age_at(date, dob)
         day_diff = date.day - dob.day
         month_diff = date.month - dob.month - (day_diff < 0 ? 1 : 0)
         date.year - dob.year - (month_diff < 0 ? 1 : 0)
         end  %>
      <%date = Date.today  %>
      <div class="content">
         <p> Je suis un jeune développeur fullstack de
            <%= age_at(date,dob) %> ans.</br></br>
            Après avoir suivi une classe prépa ingénieur à la fin du lycée (j'aime concevoir et créer des solutions aux problèmes que je rencontre),
            j'ai finalement fait un DUT Mesures Physiques qui correspondait mieux à mes attentes de l'époque (un enseignement scientifique basé à la fois sur
            la pratique et la théorie). Une fois diplômé, j'ai travaillé pendant 1an et demi dans un laboratoire d'analyse d'amiante, Eurofins.
            </br></br>
            A la fin de mon contrat, j'ai effectué un premier virage professionnel en travaillant en tant que hotliner en informatique. L'informatique étant un domaine
            qui me passionne, j'ai choisi de me reconvertir en réalisant une formation de développeur web fullstack durant 2 mois au sein de
            <%= link_to 'Le Wagon Lyon', 'https://www.lewagon.com/fr/lyon', target: :_blank %>. J'ai obtenu ma certification en Décembre 2019.
         </p>
      </div>
   </div>
</section>
<section class="s3 section" data-anchor="project">
   <div class="text">
      <h2>Mes réalisations</h2>
      <div class="carousel">
         <ul class="slides">
            <!-- Projet 1 : The Honest meal -->
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
               <div class="slide-image">
                  <%= cl_image_tag("Thehonestmeal.jpg", :client_hints => :true, :crop => "scale",
                     :quality => :auto, :sizes => "100vw", :alt => "The Honnest Meal",
                     :loading => "lazy", :fetch_format => :auto) %>
                  <div class="project-text">
                     <h2>
                     <%= link_to "Projet 1: TheHonnestMeal", 'http://www.thehonestmeal.com/', target: :_blank %>
                     <p>👨‍💻 Ruby - Ruby On Rails - JS - HTML - Chart.js - Geocoder - Cloudinary</br>
                        4 personnes sur le projet pendant 10 jours</br>
                        Le projet réalisé durant ma formation au Wagon
                     </p>
                  </div>
               </div>
               <div class="carousel-controls">
                  <label for="img-3" class="prev-slide">
                  <span>&lsaquo;</span>
                  </label>
                  <label for="img-2" class="next-slide">
                  <span>&rsaquo;</span>
                  </label>
               </div>
            </li>
            <!-- Projet 2 -->
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
               <div class="slide-image">
                  <%= cl_image_tag("LGDG.jpg", :width => :auto, :client_hints => :true, :crop => "scale",
                     :quality => :auto, :sizes => "100vw", :alt => "La Gazette des grenouilles",:flags=>"lossy",
                     :loading => "lazy", :fetch_format => :auto) %>
                  <div class="project-text">
                     <h2>
                        <%= link_to "Projet 2 : La Gazette des grenouilles", 'http://lagazettedesgrenouilles.fr/', target: :_blank %>
                     </h2>
                     <p>👨‍💻 Wordpress -Contact Form7- Wordpress Importer - WP Telegram</br>
                        Projet personnel pour la communauté d'un jeu auquel je joue
                     </p>
                  </div>
               </div>
               <div class="carousel-controls">
                  <label for="img-1" class="prev-slide">
                  <span>&lsaquo;</span>
                  </label>
                  <label for="img-3" class="next-slide">
                  <span>&rsaquo;</span>
                  </label>
               </div>
            </li>
            <!-- Projet 3 -->
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
               <div class="slide-image">
                  <%= cl_image_tag("LogementsSolidaires.jpg", :width => :auto, :client_hints => :true, :crop => "scale",
                     :quality => :auto, :sizes => "100vw", :alt => "Les Logements Solidaires",:flags=>"lossy",
                     :loading => "lazy", :fetch_format => :auto) %>
                  <div class="project-text">
                     <h2>
                        <%= link_to "Projet 4 : Les Logements Solidaires", 'https://www.les-logements-solidaires.com/', target: :_blank %>
                     </h2>
                     <p>👨‍💻 Ruby - Ruby On Rails - JS - HTML - SASS - PostgreSQL - Geocoder</br>
                        Organisation de 11 développeurs, 8 développeurs Ruby on Rails (1 Canada, 1 Inde, 6 France) et 2 développeurs Front-end .Temps de développement : 7 jours</br>
                        Projet solidaire realisé avec une equipe d'autres développeurs pour permettre de mettre en lien
                        personnel hospitalier et propriétaires durant la crise du covid-19.
                     </p>
                  </div>
               </div>
               <div class="carousel-controls">
                  <label for="img-2" class="prev-slide">
                  <span>&lsaquo;</span>
                  </label>
                  <label for="img-1" class="next-slide">
                  <span>&rsaquo;</span>
                  </label>
               </div>
            </li>
            <!-- Controller en forme de points -->
            <div class="carousel-dots">
               <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
               <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
               <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
         </ul>
      </div>
   </div>
</section>
</section>
<section class="section s4" data-anchor="project">
   <div class="text">
      <h2>Mon CV</h2>
      <%= link_to 'Télécharger mon CV', 'JulienGregoire.pdf', download: '',class: "button-download " %>
   </div>
</section>
<section class="section s5" data-anchor="skills">
   <div class="text">
      <h2>Mes competences</h2>
      <h3>Mes capacités en informatique</h3>
      <p>JS, CSS, HTML, Ruby on rails, git, github, heroku, wordpress</p>
      <h3>Mes autres competences</h3>
      <p>Anglais </br>
         Adaptabilité </br>
         Travail en équipe </br>
         Communication </br>
         A l'écoute
      </p>
   </div>
</section>
<section class="section s6" data-anchor="contact">
   <div class="text">
      <h2>Contact</h2>
      <%= render 'home/contact_form' , index: @contact %>
      <p> <%= t "contact" %></p>
      <span><a href="mailto:julien.gregoire44@gmail.com"><i class="fas fa-sm fa-at fa-2x"></i></a></span>
      <span><a href="https://www.linkedin.com/in/julien-gregoire-42395386" target="_blank"><i class="fab fa-sm fa-linkedin fa-2x"></i></a></span>
      <span><a href="https://www.malt.fr/profile/juliengregoire" target="_blank"> <i><img alt="Malt" src="malt.png"width="26.5" height="30"></i></a></span>
      <span><a href="https://www.facebook.com/JulienGregoireWeb" target="_blank"><i class="fab fa-sm fa-facebook fa-2x"></i></a></span>
      <p> <%= t "thanks" %></p>
   </div>
</section>
