<div class="wrapper context" id="wrapper">
<section class="section s1" data-anchor="home">
   <div class="text">
      <h1>Salut moi c'est Julien </h1>
      <div class="phone">
         <p>Si vous êtes ici c'est que vous voulez un aperçu de ce que je suis capable de faire. Pour en savoir plus, je vous invite à descendre afin de découvrir mon parcours, mon expérience, mes projets.</p>
      </div>
   </div>
</section>
<section class="section s2" data-anchor="about">
   <div class="text">
      <h1>A Propos </h1>
      <% dob = Date.new(1990,11,27)
         def age_at(date, dob)
         day_diff = date.day - dob.day
         month_diff = date.month - dob.month - (day_diff < 0 ? 1 : 0)
         date.year - dob.year - (month_diff < 0 ? 1 : 0)
         end  %>
      <%date = Date.today  %>
      <div class="content">
         <p> Je suis un jeune développeur fullstack de
            <%= age_at(date,dob) %> ans.</br></br>
            Après avoir suivi une classe prépa ingénieur à la fin du lycée (j'aime concevoir et créer des solutions aux problèmes que je rencontre),
            j'ai finalement fait un DUT Mesures Physiques qui correspondait mieux à mes attentes de l'époque (un enseignement scientifique basé à la fois sur
            la pratique et la théorie). Une fois diplômé, j'ai travaillé pendant 1an et demi dans un laboratoire d'analyse d'amiante, Eurofins.
            </br></br>
            A la fin de mon contrat, j'ai effectué un premier virage professionnel en travaillant en tant que hotliner en informatique. L'informatique étant un domaine
            qui me passionne, j'ai choisi de me reconvertir en réalisant une formation de développeur web fullstack durant 2 mois au sein de
            <%= link_to 'Le Wagon Lyon', 'https://www.lewagon.com/fr/lyon', target: :_blank %>. J'ai obtenu ma certification en Décembre 2019.
      </div>
      </p>
   </div>
</section>
<section class="section s3" data-anchor="project" background-image="/img2.jpeg">
   <div class="text">
      <h1>Mes réalisations</h1>
      <div id="demo" class="carousel" data-interval="false">
         <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
         </ul>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <%= cl_image_tag("Thehonestmeal.jpg", :client_hints => :true, :crop => "scale",
                  :quality => :auto, :sizes => "100vw") %>
               <div class="carousel-caption">
                  <h2>
                     <%= link_to "Projet 1: TheHonnestMeal", 'http://www.thehonestmeal.com/', target: :_blank %>
                  </h2>
                  <p>Le projet réalisé durant ma formation au Wagon</p>
               </div>
            </div>
            <div class="carousel-item">
                <%= cl_image_tag("LowBoatHomie.jpg", :client_hints => :true, :crop => "scale",
                  :quality => :auto, :sizes => "100vw") %>
               <div class="carousel-caption">
                  <h2>
                     <%= link_to "Projet 2: Low-Boat-Homie", 'https://low-boat-homie.herokuapp.com/', target: :_blank %>
                  </h2>
                  <p>Dans le style airbnb, la location de bateaux. Fait pendant la formation. Avec un humour particulier.</p>
               </div>
            </div>
            <div class="carousel-item">
               <%= cl_image_tag("LGDG.jpg", :width => :auto, :client_hints => :true, :crop => "scale",
                  :quality => :auto, :sizes => "100vw") %>
               <div class="carousel-caption">
                  <h2>
                     <%= link_to "Projet 3 : La Gazette des grenouilles", 'http://lagazettedesgrenouilles.fr/', target: :_blank %>
                  </h2>
                  <p> Projet personnel pour la communauté d'un jeu auquel je joue</p>
               </div>
            </div>
            <div class="carousel-item">
               <%= cl_image_tag("LogementsSolidaires.jpg", :width => :auto, :client_hints => :true, :crop => "scale",
                  :quality => :auto, :sizes => "100vw") %>
               <div class="carousel-caption">
                  <h2>
                     <%= link_to "Projet 4 : Les Logements Solidaires", 'https://www.les-logements-solidaires.com/', target: :_blank %>
                  </h2>
                  <p> Projet solidaire realisé avec une equipe d'autres développeurs pour permettre de mettre en lien
                     personnel hospitalier et propriétaires durant la crise du covid-19.
                  </p>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
</section>
<section class="section s4" data-anchor="project">
   <div class="text">
      <h1>Mon CV</h1>
      <%= link_to 'Télécharger mon CV', 'JulienGregoire.pdf', download: '',class: "btn btn-primary" %>
      <!--       . réaliser un bouton clickable stylisé pour telécharger mon cv (le lien est deja fonctionnel)
         -->
      <!--   . réaliser une timeline a 2-3 éléments importants de ma vie (naissance, bacs s, dut mp, bootcamp)
         -->
      <!--   . petite phrase du genre "voila les éléments prcpx de ma vie pour ce qui concerne le pro , mon cv est disponible ci dessous"
         -->
   </div>
</section>
<section class="section s5" data-anchor="skills">
   <div class="text">
      <h1>Mes competences</h1>
      <h2>Mes capacités en informatique</h2>
      <p>JS, CSS, HTML, RUby on rails, git, github, heroku, wordpress</p>
      <h2>Mes autres competences</h2>
      <p>Anglais </br>
         Adaptabilité </br>
         Travail en équipe </br>
         Communication </br>
         A l'écoute
      </p>
      <!--  <div class="charts">
         <%
            @data = {
              labels: ["JS", "CSS", "HTML", "Ruby on Rails", "Git", "GitHub", "Heroku", "wordpress"],
              datasets: [
                {
                    label: "My First dataset",
                    backgroundColor: "rgba(220,220,220,0.2)",
                    borderColor: "rgba(220,220,220,1)",
                    data: [20, 50, 50, 50, 40, 40, 60, 10]
                },
              ]
            }%>
         <% @options = {
            responsive: true,
                    ticks: {
                      suggestedMin: 00,
                      suggestedMax: 100
                    }
            } %>
         <%= radar_chart @data, @options %>
         </div>
             </div> -->
</section>
<section class="section s6" data-anchor="contact">
<div class="text">
<h1>Contact</h1>
<%= render 'home/contact_form' , index: @contact %>
<p>Ou sinon vous pouvez me contacter sur les réseaux sociaux</p>
<span><a href="mailto:julien.gregoire44@gmail.com"><i class="fas fa-sm fa-at fa-3x"></i></a></span>
<span><a href="https://www.linkedin.com/in/julien-gregoire-42395386" target="_blank"><i class="fab fa-sm fa-linkedin fa-3x"></i></a></span>
<span><a href="https://www.malt.fr/profile/juliengregoire" target="_blank"> <i><img alt="Malt" src="malt.png"width="26.5" height="30"></i></a></span>
<span><a href="https://www.facebook.com/JulienGregoireWeb" target="_blank"><i class="fab fa-sm fa-facebook fa-3x"></i></a></span>
<p> Merci de votre viste</p>
</div>
</section>
<!--           . créer un formulaire de contact
   . faire en sorte que ce formulaire m'envoi un mal lros du submit vers "julien.gregoire44@gmail.com"
   . styliser le mail sous la forme
     - sujet : demande de contact via portfolio
     - corps du mail
       * nom de la personne
       * entreprise
       * localisation du poste
       * mail
       * numéro de téléphone
       * comment êtes vous tombés sur mon portfolio (can be blank)

   Recuperation des infos de la page de contacts pour stats avec accès admin -->
</div>
