<div class="wrapper context" id="wrapper">

    <section class="section s1" data-anchor="home">
      <div class="text">
        <h1>Salut moi c'est Julien </h1>
        <div class="phone">
        <p>Si vous êtes ici c'est que vous voulez un aperçu de ce que je suis capable de faire. Pour en savoir plus, je vous invite à descendre afin de découvrir mon parcours, mon expérience, mes projets.</p>
    </div>
    </div>
    </section>

    <section class="section s2" data-anchor="about">
      <div class="text">
        <h1>A Propos </h1>
        <% dob = Date.new(1990,11,27)
def age_at(date, dob)
day_diff = date.day - dob.day
month_diff = date.month - dob.month - (day_diff < 0 ? 1 : 0)
date.year - dob.year - (month_diff < 0 ? 1 : 0)
end  %>
            <%date = Date.today  %>
            <div class="content">
               <p> Je suis un jeune développeur fullstack de
                <%= age_at(date,dob) %> ans.</br></br>
                Après avoir suivi une classe prépa ingénieur à la fin du lycée (j'aime concevoir et créer des solutions aux problèmes que je rencontre),
                j'ai finalement fait un DUT Mesures Physiques qui correspondait mieux à mes attentes de l'époque (un enseignement scientifique basé à la fois sur
                la pratique et la théorie). Une fois diplômé, j'ai travaillé pendant 1an et demi dans un laboratoire d'analyse d'amiante, Eurofins.
</br></br>
                A la fin de mon contrat, j'ai effectué un premier virage professionnel en travaillant en tant que hotliner en informatique. L'informatique étant un domaine
                qui me passionne, j'ai choisi de me reconvertir en réalisant une formation de développeur web fullstack durant 2 mois au sein de
                <%= link_to 'Le Wagon Lyon', 'https://www.lewagon.com/fr/lyon', target: :_blank %>. J'ai obtenu ma certification en Décembre 2019.
    </div>
    </p>
    </div>
    </section>
    <section class="section s3" data-anchor="project" background-image="/img2.jpeg">
      <div class="text">
        <h1>Mes projets</h1>
<div id="demo" class="carousel" data-interval="false">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="Thehonestmeal.jpeg" alt="The Honnest Meal">
      <div class="carousel-caption">
        <h3>
          <%= link_to "Projet 1: TheHonnestMeal", 'http://www.thehonestmeal.com/', target: :_blank %> </h3>
        <p>Le projet réalisé durant ma formation au Wagon</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="LowBoatHomie.jpg" alt="Low-Boat-Homie" width="700" height="500">
      <div class="carousel-caption">
                <h3>
          <%= link_to "Projet 2: Low-Boat-Homie", 'https://low-boat-homie.herokuapp.com/', target: :_blank %> </h3>
        <p>Dans le style airbnb, la location de bateaux. Fait pendant la formation. Avec un humour particulier.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="LGDG.jpg" alt="La Gazette des grenouilles" width="700" height="500">
      <div class="carousel-caption">
        <h3>
          <%= link_to "Projet 3 : La Gazette des grenouilles", 'http://lagazettedesgrenouilles.fr/', target: :_blank %> </h3>
        <p> Projet personnel pour la communauté d'un jeu auquel je joue</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
    </section>

    <section class="section s4" data-anchor="project">
      <div class="text">
        <h1>Mon CV</h1>
        <%= link_to 'Télécharger mon CV', 'JulienGregoire.pdf', download: '',class: "btn btn-gradient" %>
            <!--       . réaliser un bouton clickable stylisé pour telécharger mon cv (le lien est deja fonctionnel)
 -->
            <!--   . réaliser une timeline a 2-3 éléments importants de ma vie (naissance, bacs s, dut mp, bootcamp)
 -->
            <!--   . petite phrase du genre "voila les éléments prcpx de ma vie pour ce qui concerne le pro , mon cv est disponible ci dessous"
 --></div>
    </section>

    <section class="section s5" data-anchor="skills">
      <div class="text">
        <h1>Mes competences</h1>
        <h2>Mes capacités en informatique</h2>
        <p>Ruby, JS, CSS, HTML, rails, git, github, heroku</p>
        <h2>Mes autres competences</h2>
        <p>Anglais </br>
        Adaptabilité </br>
        A l'écoute</p>
        <!-- Mettre les competences sous forme de graph avec % -->
        </div>
    </section>

    <section class="section s6" data-anchor="contact">
      <div class="text">
             <h1>Contact</h1>
            <%= render 'home/contact_form' , index: @contact %>
            <p> Merci de votre viste</p>
        </div>
  </section>
        <!--           . créer un formulaire de contact
  . faire en sorte que ce formulaire m'envoi un mal lros du submit vers "julien.gregoire44@gmail.com"
  . styliser le mail sous la forme
    - sujet : demande de contact via portfolio
    - corps du mail
      * nom de la personne
      * entreprise
      * localisation du poste
      * mail
      * numéro de téléphone
      * comment êtes vous tombés sur mon portfolio (can be blank)

Recuperation des infos de la page de contacts pour stats avec accès admin -->
</div>
