<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Ajout pour le SEO -->
      <link rel="canonical" href="<%= url_for(format: :html, only_path: false) %>" >
      <link rel="amphtml" href="<%= url_for(format: :amp, only_path: false) %>" >
<!--       fontawesome -->
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
      <!--  Métadonnées -->
<% Meta.new(self) %>
      <!-- autre -->
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all' %>

<!-- Lien vers les 2 versions du site -->
<!-- <nav>
        <ul>
    <li><%= link_to 'Français', root_path(locale: :fr) %></li>
    <li><%= link_to 'English', root_path(locale: :en) %></li>
  </ul>
  </nav> -->
   </head>
   <body>
      <%= yield %>
   </body>
