<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Ajout pour le SEO -->
      <link rel="canonical" href="<%= url_for(format: :html, only_path: false) %>" >
      <link rel="amphtml" href="<%= url_for(format: :amp, only_path: false) %>" >
<!--       fontawesome -->
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
      <!--  Métadonnées -->
<title><%= meta_title %></title>
<meta name="description" content="<%= meta_description %>">

<!-- Facebook Open Graph data -->
<meta property="og:title" content="<%= meta_title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:image" content="<%= meta_image %>" />
<meta property="og:description" content="<%= meta_description %>" />
<meta property="og:site_name" content="<%= meta_title %>" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
<meta name="twitter:title" content="<%= meta_title %>">
<meta name="twitter:description" content="<%= meta_description %>">
<meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
<meta name="twitter:image:src" content="<%= meta_image %>">
      <!-- autre -->
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all' %>

<!-- Lien vers les 2 versions du site -->
<!-- <nav>
        <ul>
    <li><%= link_to 'Français', root_path(locale: :fr) %></li>
    <li><%= link_to 'English', root_path(locale: :en) %></li>
  </ul>
  </nav> -->
   </head>
   <body>
      <%= yield %>
   </body>
